<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @guest.gender_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @guest.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @guest.date_of_birth %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @guest.notes %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
